.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: inline-block;
}

.logo a {
  display: flex;
  align-items: center;
}

.logo a .title{
  font-size: clamp(1rem, 2.5vw, 2rem); 
  text-align: center;
  color: whitesmoke;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 10px;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 30px;
}

.header li {
  display: none;
  margin: 0;
  padding: 0;
  font-size: 0.7rem;
}

.header li a {
  font-size: clamp(1rem, .8vw, 2rem); 
  color: white;
  display: inline-block;
  padding: 0;
  text-decoration: none;
}

.header li a:hover {
  color: var(--qwik-light-blue);
}

@media (min-width: 450px) {
  .header li {
    display: inline-block;
  }
}
